.Rhistory
DataPlots/figures
DataPlots/legacy_scripts
DataPlots/real_dats
DataPlots/venture_capital_dats/*.csv
DataPlots/legacy_scripts
DataPlots/real_dats
DataPlots/venture_capital_raw.csv
ModelPlots/legacy_scripts
ModelPlots/other_code
ModelPlots/__pycache__
ModelPlots/legacy_scripts
